
/* line */
#vl {
  background-color: blue;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  margin-top: 100px;
}


#slogan{
text-align: center;
margin-top: 100px;
}


#logo{
  width: 250px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


#about{
  margin-top: 15px;
}


#aboutp{
  
  line-height: 4;
  
  font-weight: 200;
}

.row{
  height: 700px;
}


